
html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: normal;
}

hr {
  opacity: 25%;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 2px 5px;
  background-color: #567c;
  border-radius: 3px;
  color: #fee;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #7777;
  padding: 10px 15px;
}

.max-width {
  max-width: 960px;
  margin: auto;
  padding: 25px;
}

.shade {
  background-color: #7773;
}

.center {
  text-align: center;
}

.center-block {
  display: table;
  margin: 0 auto;
}

.horizontal-list {
  display: inline-block;
  padding: 0;
  margin: 15px;
}

.horizontal-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.horizontal-list li::before {
  content: '\2022';
  margin: 0 15px;
  display: inline-block;
}

.horizontal-list li:first-of-type::before {
  content: '';
  margin: 0;
}

.highlight {
  text-shadow: 0px 0px 10px #777;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgray;
  }
}
